<h3>Details</h3>
<ul>
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.email %></li>
</ul>
<h3>Listings</h3>
<ul>
<% @user.listings.each do |listing| %>
<li>Title: <%= link_to "#{listing.title}", listing %>, Pax: <%= listing.pax%></li>
<% end %>
</ul>