<h3>Details</h3>
<ul>
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.email %></li>
</ul>

<h3>Listings</h3>
<ul>
  <% @listings.each_with_index do |listing,i| %>
    <li>Title: <%= link_to "[#{i}] #{listing.title}", listing %>, Pax: <%= listing.pax%></li>
  <% end %>
</ul>

<%= will_paginate @listings %>